<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Tasks</title>
</head>

<style>
    .error {color:red}
</style>

<body>

<div class="container">

    <h3>Tasks page</h3>
    <hr>

    <p class="h4 mb-4"> Save task </p>

    <h4><span class="badge badge-pill badge-info">Assign project & user</span></h4>
    <form action="#" th:action="@{/tasks/save}"
                     th:object="${task}" method="post">

        <select class="btn btn-secondary dropdown-toggle mb-4" th:field="*{project.id}">
<!--            <option value="0" selected disabled>Assign project</option>-->
            <option
                    th:each="project: ${allProjects}"
                    th:value="${project.id}"
                    th:text="${project.name}">
            </option>
        </select>

        <select class="btn btn-secondary dropdown-toggle mb-4" th:field="*{user.id}">
<!--            <option value="0" selected disabled>Assign user</option>-->
            <option
                    th:each="user: ${allUsers}"
                    th:value="${user.id}"
                    th:text="${user.name}">
            </option>
        </select>

        <div class="form-inline">
            <input type="text" th:field="*{subject}"
                   class="form-control mb-4 col-4" placeholder="Subject">
                <i th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}" class="error"></i>
        </div>

        <div class="form-inline">
            <input type="text" th:field="*{type}"
                   class="form-control mb-4 col-4" placeholder="Type">
                <i th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="error"></i>
        </div>

        <div class="form-inline">
            <input type="number" th:field="*{priority}"
                   class="form-control mb-4 col-4" placeholder="Priority (1-10)">
                <i th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}" class="error"></i>
        </div>

        <div class="form-inline">
        <input type="text" th:field="*{description}"
               class="form-control mb-4 col-4" placeholder="Description">
            <i th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error"></i>
        </div>

        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>

    <hr>
    <a th:href="@{/tasks/list}"> Back to Tasks list</a>

</div>

</body>
</html>