<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Users</title>
</head>

<body>

<div class="container">

    <h3>Users page</h3>
    <hr>

    <p class="h4 mb-4"> Save user </p>

    <form action="#" th:action="@{/users/save}"
                     th:object="${user}" method="post">
        <input type="text" th:field="*{name}"
                    class="form-control mb-4 col-4" placeholder="Name">
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>

    <hr>
    <a th:href="@{/users/list}"> Back to Users list</a>

</div>

</body>
</html>